body{
    background-color:black;
    background-image:url("OP.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

form{
    width: 70%;
    margin: 2em auto;
    background-color: rgb(46, 46, 46,0.8);
    padding:1rem;
}

h1,p{
    text-align:center;
    color:white;
    box-shadow: 20px rgb(199, 62, 62);
    text-shadow: 20px rgb(17, 53, 107);
}

label{
    display:block;
    padding:1rem;
    color:white;
    
}
input{
    margin:auto;
    width:100%;
    min-height:2rem;
}
input[type="radio"]{
    width: 5%;
    vertical-align: bottom;
}

